---
layout: compress
---

<!doctype html>
<html lang="en" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <div id="main" role="main">
      {% include sidebar.html %}

      <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

        {% if page.title %}
        <meta itemprop="headline"
              content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">
        {% endif %}

        <div class="page__inner-wrap">

          <section class="page__content" itemprop="text">

            {{ content }}

            <hr>

           <div id="mmvst_globe"></div>

              <script type="text/javascript">
              (function() {
                  var s = document.createElement("script");
                  s.type = "text/javascript";
                  s.src = "https://mapmyvisitors.com/globe.js?d=6KroIV-3pry1d7NigozY0DVLmYX7XyYFp5T0FpAvGLs";
                  s.id = "mmvst_globe_script";
                  document.body.appendChild(s);
              })();
              </script>
            </div>

          </section>

        </div>

      </article>

    </div>

    {% include scripts.html %}

  </body>
</html>
